<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.elizabethcakeshn">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="Elizabeth Cakes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        <activity android:name=".CartListActivity2"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".ProductDetailsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/actionbar" />
        <activity
            android:name=".AddProductActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".MainActivity"
            android:label="Elizabeth Cakes"
            android:screenOrientation="portrait"
            android:theme="@style/actionbar" />
        <activity
            android:name=".Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Recuperacion_Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".InicialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>